#container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'ft ft ft ft';
    margin: auto;
    background-color: rgb(54, 202, 153);
    padding: 5px;
    gap: 5px;
}


header{
    grid-area: hd;
    background-color: rgb(49, 173, 132);
}

.h1{
    padding: 10px;
   
}

a{
    color: black;
    text-decoration: dashed;
}

.hd{
    border: 2px;
    display: flex;
    align-items: center;
    font-size: 25px;

}

.hd div{
    width: 300px;
    height: 50px;
    background-color: rgb(49, 173, 132);
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color: black;
}


nav{
    grid-area: nv;
    background-color: rgb(245, 224, 199);
}

section{
    grid-area: sec;
    background-color: rgb(245, 224, 199);
}

footer{
    grid-area: ft;
    background-color: rgb(245, 224, 199);
}